@inherits WBaseComponent

@if (!string.IsNullOrEmpty(Icon) && Icon.Trim().StartsWith("<"))
{
    <svg style="@Style" width="@Width" height="@Height" focusable="false" viewBox="-5.5 0 26 26" aria-hidden="true" fill="@Color" xmlns="http://www.w3.org/2000/svg" xmlns:undefined="http://www.bohemiancoding.com/sketch/ns" version="1.1">
        @if (Title != null)
        {
            <title>@Title</title>
        }

        @((MarkupString)Icon)
    </svg>
}
else
{
    <span @attributes="UserAttributes" class="@($"{Class} {Icon}") " width="@Width" height="@Height"  style="display:inline-block;color: @($"{Color};{Style}")" title="@Title" />
}

@code {
    /// <summary>
    /// The color of the component. CSS values
    /// </summary>
    [Parameter]
    public string? Color { get; set; } = "#fff";
    /// <summary>
    /// Title of the icon used for accessibility.
    /// </summary>
    [Parameter]
    public string? Title { get; set; }

    /// <summary>
    /// Icon to be used can either be svg paths for font icons.
    /// </summary>
    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? Width { get; set; } = "36px";
    [Parameter]
    public string? Height { get; set; } = "36px";
    [Parameter]
    public IEnumerable<KeyValuePair<string, object>>? UserAttributes { get; set; }
}
